.box {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  justify-content: space-around;
  margin-top: 10px;
}
.Main {
  width: 99%;
  margin: auto;
  background-color: linen;
}
.ant-image > img {
  width: 100%;
  height: 250px;
  margin: auto;
  border-radius: 30px;
}
.classbgcolor{
  padding:5px;
}
.imglst{
  width:100%;
  margin: auto;
}